# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.Survival Shooter.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Admins\Desktop\Unity\Training\Survival Shooter\.idea\.idea.Survival Shooter\.idea/dataSources/
/dataSources.local.xml
